@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<<<<<<< HEAD
<p>
    A system monitor is a hardware or software component used to monitor system resources and performance in a computer system.[1]

    A hardware monitor is common component of modern motherboards, which can either come as a separate chip, often interfaced through I²C or SMBus, or as part of a Super I/O solution, often interfaced through Low Pin Count (LPC).[2] These devices make it possible to monitor temperature in the chassis, voltage supplied to the motherboard by the power supply unit and the speed of the computer fans that are connected directly to one of the fan headers on the motherboard. Many of these hardware monitors also have fan controlling capabilities.[2] System monitoring software like SpeedFan on Windows, lm_sensors on GNU/Linux, envstat on NetBSD, and sysctl hw.sensors on OpenBSD and DragonFly can interface with these chips to relay this environmental sensor information to the user.
</p>
=======
<p>Use this area to provide additional information.</p>
@dweem_monitor.Database.SqlConnect();
>>>>>>> 091e4df... Sql Connection, Test på About-site, fungerer.
