@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Ahorn allé 3-5<br />
    4100 Ringsted<br />
    <abbr title="Phone">P:</abbr>
    93920092
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:johan@gmail.com">johan@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:nicolai@gmail.com">nicolai@gmail.com</a>
</address>