@{
    ViewBag.Title = "Home Page";
}

<div style="background:transparent" class="jumbotron">
    <h1>DWEEM</h1>
    <p class="lead">Exclusive monitoring tool for your windows server. Register on the button below and start your adventure!</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Register &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            All new to monitoring? Lets get you started, follow the link below and be enlightened!
        </p>
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/System_monitor">Blow my mind! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Donations</h2>
        <p>Donations are very apreciated. Follow the link below to send your contribution or use Molbipay - 93920092</p>
        <p><a class="btn btn-default" href="https://danskebank.dk/privat">Take my money! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Anything and everything</h2>
        <p>Did you end up in the wrong place? Follow the link below and we will help you move on!</p>
        <p><a class="btn btn-default" href="https://google.dk">Help me! &raquo;</a></p>
    </div>
</div>