
@{
    ViewBag.Title = "Sql";
}

<h2>SQL</h2>

@{
    string[,] array = Database.SqlTestSite("SELECT * FROM user_video");
}

<table class="remote-mon-table">
    @for (int i = 0; i < array.Length/3; i++)
    {
        <tr class="remote-mon-table">
            @for (int j = 0; j < 3; j++)
            {
                <td class="remote-mon-table">@array[i, j]</td>
            }
        </tr>
    }
</table>

